* {
  margin: auto;
}
body {
  width: 50%;
  height: 100%;
}
.head {
  text-justify: newspaper;
  text-align: center;
  text-decoration: dashed burlywood;
  font-style: oblique;
  text-indent: 2%;
  text-transform: capitalize;
  font-size: larger;
}
.keys {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(250, 235, 215, 0.5);
  border: 1px solid rgb(250, 235, 215);
}
.key {
  text-transform: capitalize;
  display: block;
  height: 20vh;
  width: 16vh;
  padding: 5px;
  flex: auto;
  text-align: center;
  text-shadow: 2px -1px 1px black;
  border: 1px solid rgba(83, 83, 235, 0.5);
  transition: all 0.07s cubic-bezier(0.25, 0.1, 0.51, -0.07);
}

.playing {
  background-color: brown;
  transform: scale(1.1);
  border-color: yellow;
  box-shadow: 0 0 1rem black;
}
